<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867295840104-n17osokkul6l6c8p57jrqqibqn8lla0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867295840104-n17osokkul6l6c8p57jrqqibqn8lla0r</string>
	<key>API_KEY</key>
	<string>AIzaSyBKjCariq1j8ALsk69wKWxBKB7Wui5gHYo</string>
	<key>GCM_SENDER_ID</key>
	<string>867295840104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kliniku</string>
	<key>PROJECT_ID</key>
	<string>kliniku-67c42</string>
	<key>STORAGE_BUCKET</key>
	<string>kliniku-67c42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867295840104:ios:8fa5a09da5fa0d5653b8dd</string>
</dict>
</plist>